<%- include(`../partials/header`) -%>

   <%- include(`../partials/navigationbar`) -%>	


   <div class = "mainContent">
      <div class = "aboutDisplayedContent">
         
         <%- include(`../partials/imagebox`) -%>	


         <%- include(`../partials/aboutuser`) -%>	

         <div class="AboutInformationBox">
            <h1>About Me</h1>
            <%- include(`../partials/userinformation`) -%>	

            <h1>Experience</h1>
            <p>Unreal Game Development with upcoming Steam Release.
               Godot 2D Game Development with Mobile Release.
               Worked with a Development Studio on a collaborative upcoming Release.
            </p>
         </div>

         <div class="AboutInformationBox">
            <h1>Skills</h1>
            <p>Languages: Java, GDScript, Unreal Blueprints, HTML, CSS, JavaScript, Flutter and Dart.
               Development: Level Design, Game Design, Blender Modelling, Rigging and Animations.
            </p>

            <h1>Motivation</h1>
            <p>I aim to create games that people can invest into and enjoy
              with friends or alone. These experiences must put the experience first, and profit after.
            </p>
         </div>
      </div>

<%- include(`../partials/footer`) -%>