<%- include(`../partials/header`) -%>

   <%- include(`../partials/navigationbar`) -%>	

   <div class = "mainContent">
      <div class = "aboutDisplayedContent">
         
         <%- include(`../partials/imagebox`) -%>	

         <%- include(`../partials/aboutuser`) -%>	

         <div class="AboutInformationBox">
            <h1>Reach Me</h1>
            <P>No: +353 838425262 <br>
               Email: auesip.dev@gmail.com
               </P>  
         </div>

         <div class="AboutInformationBox">
            <h1>Also Find Me On</h1>
               <%- include(`../partials/socials`) -%>	
            </div>
         </div>
      </div>






<%- include(`../partials/footer`) -%>