<%- include(`../partials/header`) -%>

   <%- include(`../partials/navigationbar`) -%>	


   <div class="mainContent">
      <div class="leftInformation">
         <img src="/usericn.png" alt="User Icon" class="usericnImage">

         <div class = "userContent">
            <h2><u>Scott Fowler</u></h2>
            <%- include(`../partials/userinformation`) -%>	


            <div class="imageContainer">
              <a href="https://github.com/AueSip"> <img src="/GitHubImage512xicn.png" alt="github Icon" class="LinkImage"></img></a>
              <a href="https://ie.linkedin.com/in/scott-fowler-4ba0722b9"> <img src="/Linkedin512xicn.png" alt="linkedin Icon" class="LinkImage"></img></a>
               <a href="https://linktr.ee/auesipdev"> <img src="/Linktree512xicn.png" alt="linktree Icon" class="LinkImage"></img></a>
            </div>
         </div>
      </div>   

      <div class="rightInformation">
         <div class = "videoFootage">
           <img class = "mainImage" src = "dwarveinImage.png">
         </div>
         
          <div  class = "rightContent">
            <% var skills = "";
               var keynotes = "";
            listResults.forEach(function (item) { 
               if (item.category != null){ %>
                  <div class = "rightSplit">
                     <div class = "rightItemBox">
                        <h2>
                           <%= item.category %>: <%= item.title %>
                        </h2>
                        <p>
                        <%- item.maindescription %> 
                        </p>
                     </div>
                     <div class = "contentImageBox">
                        <img class = "SquareImage" src = './<%=item.ImageSquare%>.png' alt = '<%=item.ImageSquare%>'>
                     </div>
                  </div>
               <% }}) %>
            </div>


      </div>
   </div>
    
<%- include(`../partials/footer`) -%>